.App-header {
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: row;
  align-items: start;
  color: white;
  padding: 30px;
  margin: 0px;
  box-shadow: 0px 0px 5px 2px var(--primary-dark);
  font-size: xx-large;
}

@media (min-width: 1850px) {
  .App-header {
    padding: 40px;
    font-size: xxx-large;
  }

}
