main {
    margin: 3em 0px;
    width: calc(100vw - 10rem);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#movie-list {
    background-color: white;
    padding: 20px 40px;
    width: 85%;
    margin: auto;
    max-width: 1200px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.load-btn {
    width: fit-content;
    margin: auto;
}

.status-container {
    padding: .2em;
    border-radius: 5px;
}