main {
  margin: 0px;
  width: calc(100vw - 5rem);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--primary-dark);

  h1 {
    font-size: 50px;
    margin: 15px auto;
  }
}

#movie-list {
  border-radius: 5px;
  width: 65%;
  margin: 20px auto;
  min-height: 400px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  justify-content: start;
  gap: clamp(2rem, 2vw, 3rem);
  align-items: stretch;
}

.load-btn {
  font-size: 20px;
  padding: 1rem;
  width: fit-content;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
}

.page-display {
  font-size: 25px;
}

@media (min-width: 903px) {
  main {
    width: calc(100vw - 10rem);
  }

  #movie-list {
    width: 85%;
  }
}

@media (min-width: 1850px) {
  main {
    width: calc(100vw - 15rem);

    h1 {
      font-size: 70px;
    }
  }
}

.loading {
  animation: spin 2s linear infinite;
  font-size: 300px;
  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
