.movie-card {
    border: 1px solid black;
    width: 300px;
    margin-bottom: 20px;
    position: relative;

}

.movie-details {
    color: white;
    width: 95%;

    /* put on bottom center */
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);

    /* background for visibility */
}

.movie-card:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.status-container:hover {
    cursor: pointer;
}