#nav-bar {
  width: 5rem;
  height: 100;
  background-color: var(--primary-dark);

  display: flex;
  flex-direction: column;

  button {
    border: none;
    padding: 20px 0px;
  }

  button:hover {
    background-color: var(--secondary-color);
    color: black;
  }
}

.favorites {
  .nav-favorites {
    background-color: var(--primary-color);
    color: var(--primary-dark);
  }
}

.now-playing {
  .nav-now {
    background-color: var(--primary-color);
    color: var(--primary-dark);
  }
}

.watched {
  .nav-watched {
    background-color: var(--primary-color);
    color: var(--primary-dark);
  }
}

@media (min-width: 560px) {
  #nav-bar {
    width: 10rem;
  }
}
