#nav-bar {
  width: 10rem;
  height: 100;
  background-color: #282c34;

  display: flex;
  flex-direction: column;

  button {
    border: none;
    padding: 20px 0px;
  }
}

.favorites {
  .nav-favorites {
    background-color: black;
  }
}

.now-playing {
  .nav-now {
    background-color: black;
  }
}

.watched {
  .nav-watched {
    background-color: black;
  }
}

