#nav-bar {
  width: 5rem;
  height: 100;
  background-color: var(--primary-dark);
  padding-top: 3px;
  display: flex;
  flex-direction: column;

  button {
    border: none;
    padding: 40px 0px;
  }

  button:hover {
    background-color: var(--secondary-color);
    color: white;
  }
}

.favorites {
  .nav-favorites {
    background-color: var(--primary-color);
  }
}

.now-playing {
  .nav-now {
    background-color: var(--primary-color);
  }
}

.watched {
  .nav-watched {
    background-color: var(--primary-color);
  }
}

@media (min-width: 560px) {
  #nav-bar {
    width: 10rem;

    button {
      font-size: 23px;
    }
  }
}

@media (min-width: 1850px) {
  #nav-bar {
    width: 15rem;

    button {
      font-size: x-large;
    }
  }
}
