.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  height: 2em;
}

.search-bar-container {
  background-color: white;
  display: flex;
  flex-direction: row;

  height: 100%;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  * {
    height: 100%;
    border: none;
  }
}

.sort-container {

    select {
        border: none;
        height: 100%;
    }
}
