.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px auto;
  height: fit-content;
  width: 85%;
  margin-bottom: 20px;

  * {
    border-radius: 5px;
  }
}

.search-bar-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;

  input {
    width: 85%;
    font-family: inherit;
  }
  input:focus {
    outline: none;
  }
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;

  * {
    height: 42px;
    border: none;
  }

  #search-bar {
    height: 40px;
  }

  svg {
    color: black;
  }
}

select {
  font-family: inherit;
  border: none;
  height: 40px;
  width: 10rem;
}

@media (min-width: 660px) {
  .search-container {
    width: 60%;
  }

  .search-bar {
    justify-content: space-between;
  }
}

@media (min-width: 1850px) {
  .search-bar {
    height: 60px;
    width: 60%;

    * {
      font-size: 30px;
    }
  }

  .search-container {
    padding: auto 2em;

    * {
      height: 62px;
    }
  }

  select {
    width: 15rem;
  }
}
