:root {
  --primary-color: rgb(109, 0, 0);
  --secondary-color: #470004;
  --primary-dark: black;
}

body {
  margin: 0;
  font-family: "Istok Web", sans-serif;
  background-color: white;
}

button {
  background-color: var(--primary-dark);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}
