:root {
  --primary-color: #01b4e4;
  --secondary-color: #90cea1;
  --primary-dark: #0d253f;
}
  
body {
  margin: 0;
  font-family: 'Istok Web', sans-serif;
  background-color: #dfe0e4;
}

button {
  background-color: var(--primary-dark);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
  color: black;
}
